{% extends 'base.html' %}

{% block title %}
	Homepage
{% endblock title %}


{% block content %}

	<div>

		<h1>Homepage</h1>

		<p>This web interface demonstrates the processing of an image. It is composed of several pages:</p>

		<ul>
			<li>The <b>Homepage</b> (this page) describes the web interface.</li>
			<li>The <b>Web Demonstrator</b> provides a quick and easy demonstration tool to illustrates the processing.</li>
			<li>The <b>API Documentation</b> describes the API calls one can use to interract with the processing, and provides python examples.</li>
			<li>The <b>Help</b> page provides some help on how to use the web interface.</li>
		</ul>
	</div>

{% endblock content %}
